.card {
  min-height: 200px;
  margin: 1rem;
}

h1 {
  text-align: center;
}

.results {
  min-height: 350px;
}

.searchbox {
  min-height: 350px;
  justify-content: flex-start;
  border-radius: 7px;
  opacity: .5;
  
}

.lead {
  text-align: center;
  font-weight: lighter;
  color: white;
  font-size: 30px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.center {
  text-align: center;
}

.hero {
  background-image: url("../images/weather.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  opacity: .40;
}

.header {
  
  font-size: 80px;
  display: inline;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow
}

.orange {
  background-color: orange
}

.results-container {
  text-align: center;
}

.button {
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin-bottom: 2px;
}

.input {
  border-radius: 5px;
  border-color: white;
  background-color: transparent;
  color: white;
  margin-bottom: 3px;
}

.text {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.text-info {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.results-container {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  border-radius: 7px;
  opacity: .5;
}

.forecast-box {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
  border-radius: 7px;
  opacity: .5;
}

/*Media Queries*/
@media screen and (max-width: 992px) {
  .hero {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  @media screen and (max-width: 850px) {
.hero {
  font-size: 1.5rem;
  color: red;
}
  }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 400px) {
  .hero {
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    max-width: 100%;
  }

}
